<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <th:block th:include="~{/fragments/nav}"></th:block>
  </nav>
</header>

<main>
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="card card-body bg-light mt-5">
        <h2>Edit Team</h2>
        <form th:object="${teamBindingModel}" th:action="@{/teams/edit/(id = ${id})}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Name: <sup>*</sup></label>
            <input th:value="*{name}" type="text" id="name" th:errorclass="is-invalid" name="name" class="form-control form-control-lg">
              <span th:each="e : ${#fields.errors('name')}" th:text="${e}" class="invalid-feedback"></span>
          </div>
          <div class="form-group">
            <label for="logo">Logo: <sup>*</sup></label>
            <input th:value="*{logo}" type="file" id="logo" name="logo" class="form-control form-control-lg">
              <span th:each="e : ${#fields.errors('logo')}" th:text="${e}" class="invalid-feedback"></span>
          </div>
          <div class="form-group">
            <img th:src="*{logoUrl}" width="20%" />
          </div>
          <div class="form-group">
            <label for="divisionName">Division: <sup>*</sup></label>
            <select class="form-control form-control-lg" th:errorclass="is-invalid" name="divisionId" id="divisionName">
              <option value="">Choose</option>
              <option th:each="d : ${divisions}" th:object="${d}"
                      th:selected="(${teamBindingModel.getDivisionId()} == *{id})"  th:text="*{name}" th:value="*{id}"></option>
            </select>
              <span th:each="e : ${#fields.errors('divisionId')}" th:text="${e}" class="invalid-feedback"></span>
          </div>

         <th:block th:if="${divisions.isEmpty()}">
             <p class="text text-danger">You must firstly create a division - Seria A, Premiership, Bundesliga.. for example</p>
         </th:block>

          <div class="row">
            <div class="col">
              <input type="submit" value="Edit" class="btn btn-success col-lg-2 col-md-2 col-sm-2">
              <a class="btn btn-primary col-lg-2 col-md-2 col-sm-2" href="/teams/list">Back</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<footer class="footer bg-blur">
  <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>