<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>


<main>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body bg-light mt-5">
                <h2>Update your profile</h2>
                <p>Please fill out this fields</p>
                <form th:object="${userProfileBindingModel}" th:action="@{/users/profile}" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        <label for="fullName">Full Name: <sup>*</sup></label>
                        <input th:value="*{fullName}" th:errorclass="is-invalid" type="text" id="fullName" name="fullName" class="form-control form-control-lg">
                    </div>

                    <div class="form-group">
                        <label for="image">Upload Image: <sup>*</sup></label>
                        <input th:value="*{image}" type="file" id="image" name="image" class="form-control form-control-lg">
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="submit" value="Save" class="btn btn-success col-lg-2 col-md-2 col-sm-2">
                            <a class="btn btn-primary col-lg-2 col-md-2 col-sm-2" href="/">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


<footer class="footer bg-blur">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>