<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>


<main>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body bg-light mt-5">
                <h2>Create An Account</h2>
                <p>Please fill out this form to register with us</p>
                <form th:action=@{/users/register} method="POST">
                    <div class="form-group">
                        <label for="email">Email: <sup>*</sup></label>
                        <input type="email" name="email" class="form-control form-control-lg" value="">
                        <span class="invalid-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label for="name">Full Name: <sup>*</sup></label>
                        <input type="text" name="fullName" class="form-control form-control-lg" value="">
                        <span class="invalid-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password: <sup>*</sup></label>
                        <input type="password" name="password" class="form-control form-control-lg" value="">
                        <span class="invalid-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password: <sup>*</sup></label>
                        <input type="password" name="confirmPassword" class="form-control form-control-lg" value="">
                        <span class="invalid-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="submit" value="Register" class="btn btn-success btn-block">
                        </div>
                        <div class="col">
                            <a th:href=@{/users/login} class="btn btn-light btn-block">Have an account? Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


<footer class="footer bg-blur">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>